<ion-header>
  <ion-navbar style="background: darkcyan !important;color:white !important;">
    <ion-title style="background: darkcyan !important;color:white !important;">About</ion-title>
</ion-navbar>
</ion-header>

<ion-content padding>
<div padding text-center>
  <img src="assets/imgs/logo.png">
</div>
<div>
  <p>
      When the stresses of every day life get in the way, one needs a place to retreat and recharge.<br><br>


      This Lovely Art Center is here to do that for you,<br><br>
      
      Whether it is learning of a new skill, a fun day of artistic experience  with your kids or a simple getaway to clear your head that you are looking for, you will find it here.<br><br>
      
      Situated in green Maadi, as well as in Galleria40 Mall in Sheikh Zayed city - Cairo - Egypt.  Art Cafe offers a homey atmosphere that is sure to ease all your unwanted stress away and introduce you to a fascinating world of color and creation.<br><br>
      
      The birth of Art Cafe came when founders Hoda, Rana, and Nadia decided to provide interested individuals with a place where art can be appreciated and artists can flourish. Art Cafe is not, however, only for artists; this is a place where anyone can enjoy a wide variety of creative fine and applied art classes and workshops.<br><br>
      
       
      
      Art Cafe offers a place for you to simply drop by and create your own artwork, also the opportunity to buy and sell art pieces made by creative artists.<br><br><br>
      
       
      
      Why Cafe ?<br><br>
      
      Because you can enjoy our self service area where you can make warm drinks as you work, we also have a fully stocked fridge full of goodies to keep your energy level high and if that’s not enough just ask at the reception for the food delivery menus and have the food of your choice delivered right to you.<br>
  </p>
</div>
<div text-center>
  <a href="tel:0223803331"><button style="background: darkcyan !important;color:white !important;" ion-button block small><ion-icon name="call"> </ion-icon> Call us</button></a>
</div>
</ion-content>
