<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background-image: url('assets/imgs/green.png') !important;color:white !important;">
        <ion-title style="background-image: url('assets/imgs/green.png') !important;color:white !important;">Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background-image: url('assets/imgs/bg_white.jpg') !important;">
    <div class="logo" text-center>
        <img src="assets/imgs/logo.png">
    </div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="doLog()">
        <ion-list padding>

            <ion-item>
                <ion-label ion-text color="secondary" floating>Email</ion-label>
                <ion-input required formControlName="email" type="text" value=""></ion-input>
            </ion-item>

            <ion-item>
                <ion-label ion-text color="secondary" floating>Password</ion-label>
                <ion-input required formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-row text-center>
                <ion-col padding>
                    <button class="rounded" padding ion-button color="secondary" [disabled]="!loginForm.valid">Login</button>
                </ion-col>
            </ion-row>
        </ion-list>
    </form>
</ion-content>