page-auth {
    .logo {
        margin-top: 15%;
    }
    .footer {
        margin-top: 25%;
        p {
            display: inline-block;
            vertical-align: bottom;
            font-size: 12px;
        }
    }
    .btns {
        margin-top: 50px;
        ;
        button {
            width: 100%;
            height: 45px;
            font-size: 18px;
            color: white;
        }
    }
    
}