<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content style="background-image: url('assets/imgs/bg_white.jpg') !important;">
  <div class="logo" text-center>
    <img src="assets/imgs/logo.png">
  </div>
  <ion-list class="btns" no-lines>
    <ion-row padding>
      <ion-col col-4 offset-1 (click)="doLog()" style="padding-left:0px;">
        <button class="rounded" ion-button color="secondary">Login</button>
      </ion-col>
      <ion-col col-4 offset-2 (click)="doReg()" style="padding-left:0px;">
        <button class="rounded" ion-button color="secondary">Sign up</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <div text-center class="footer">
    <p>Made with </p> <img src="assets/imgs/heart-icon.jpg">
    <p> Art Cafe</p>
    <p>Copyrights ©2017 All Rights Reserved by Art Cafe</p>
  </div>
</ion-content>
