<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background-image: url('assets/imgs/green.png') !important;color:white !important;">
        <ion-title style="background-image: url('assets/imgs/green.png') !important;color:white !important;">Profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing..."></ion-refresher-content>
              </ion-refresher>
    <div *ngIf="!myInfo.profile_picture" class="profSection" text-center>
        <img src="assets/imgs/no_pic.png" (click)="updatePic()">
    </div>
    <div *ngIf="myInfo.profile_picture" class="profSection" text-center>
        <img src="{{myInfo.profile_picture}}" (click)="updatePic()">
    </div>
    <p text-center><strong>{{user_info.name}}</strong></p>
    <div>
        <p class="myTitle">Personal Info
            <!-- <ion-icon color="secondary" name="md-create"></ion-icon> -->
        </p>
        <p>
            <ion-icon color="secondary" name="mail"></ion-icon> {{myInfo.email}}</p>
        <p>
            <ion-icon color="secondary" name="call"></ion-icon> {{myInfo.phone_number}}</p>
        <p>
            <ion-icon color="secondary" name="calendar"></ion-icon> {{myInfo.date_joined}}</p>
    </div>
    <div padding>
        <ion-segment color="secondary" [(ngModel)]="choice">
            <ion-segment-button value="Notifications">
                Notifications
            </ion-segment-button>
            <ion-segment-button value="History">
                History
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="choice">
        <ion-list *ngSwitchCase="'Notifications'">
            <p text-center ion-text color="light" *ngIf="noNotifs">You don't have any notifications yet</p>
            <ion-item *ngFor="let not of myInfo.notifications">
                <h4 class="notificationText">{{not.text}}</h4>
                <p class="notificationTime" item-end>{{not.time}}<br>{{not.date}}</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'History'">
            <ion-item-group>
                <ion-item-divider color="primary">Classes</ion-item-divider>
                <p text-center ion-text color="light" *ngIf="!myInfo.class_bookings[0]">You don't have any classes yet</p>
                <div *ngFor="let cls of myInfo.class_bookings">
                    <ion-item>
                        <h2>Title : {{cls.class.title}}</h2>
                        <p>Date booked : {{cls.date_booked_formatted}}</p>
                        <p>Status : {{cls.status}}</p>
                    </ion-item>
                </div>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider color="danger">Studios</ion-item-divider>
                <p text-center ion-text color="light" *ngIf="!myInfo.club_bookings[0]">You don't have any studios yet</p>
                <div *ngFor="let cls of myInfo.club_bookings">
                    <ion-item>
                        <h2>Title : {{cls.club.title}}</h2>
                        <p>Date booked : {{cls.date_booked_formatted}}</p>
                        <p>Date : {{cls.date}}</p>
                        <p>Status : {{cls.status}}</p>
                    </ion-item>
                </div>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider color="secondary">Events</ion-item-divider>
                <p text-center ion-text color="light" *ngIf="!myInfo.event_history[0]">You don't have any events yet</p>
                <div *ngFor="let event of myInfo.event_history">
                    <ion-item>
                        <h2>Title : {{event.event.title}}</h2>
                        <p>Date booked : {{event.date_booked_formatted}}</p>
                        <p>Date : {{event.date}}</p>
                    </ion-item>
                </div>
            </ion-item-group>

        </ion-list>
    </div>

</ion-content>