page-profile {
    .profSection {
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
    }
    .myTitle {
        color: #83aa49;
    }
    .notificationText{
        white-space: normal;
        padding-top: 2px;
    }
    .notificationTime{
        font-size: 11px;
    }
}