<!--
  Generated template for the DropinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/purple.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/purple.png') !important;color:white !important;">Drop-ins</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let drop of dropins" (click)="sessDet(drop)">
        <img src="{{drop.img}}" />
        <ion-card-content>
            <ion-card-title>
                {{drop.name}}
            </ion-card-title>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
            </p>
            <br>
            <span ion-text color="danger" text-right>12/12/2017</span>
        </ion-card-content>
    </ion-card>
</ion-content>