<!--
  Generated template for the SessiondetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/purple.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/purple.png') !important;color:white !important;">{{mySession.name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <p class="myTitle">Small Description</p>
    <p>{{mySession.description}}</p><br>
    <p class="myTitle">Instructor</p>
    <p>{{mySession.instructor}}</p><br>
    <!-- <p class="myTitle">Available Sessions</p> -->
    <ion-list radio-group color="danger">
        <ion-item>
            <ion-label color="danger">{{mySession.time}}</ion-label>
            <p><span ion-text color="danger">From </span>{{mySession.start_time}} <span ion-text color="danger"> To </span> {{mySession.end_time}}</p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <p padding text-center style="border-top:1px solid #d12c75;margin-bottom:0;" ion-text color="danger" (click)="confirmBooking(mySession)">Confirm Booking</p>
</ion-footer>