<ion-header>

  <ion-navbar style="background: darkcyan !important;color:white !important;">
    <ion-title style="background: darkcyan !important;color:white !important;">Contact us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      Address
    </ion-list-header>
    <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
      <p class="noWrap"><strong>Maadi Branch : </strong> 10b road 11, cross road 85 Entrance from Canal Street Maadi,Cairo
      </p>

    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-start></ion-icon>
      <p class="noWrap"><strong>Zayed Branch : </strong> 40 el-Mehwar, 26th July street corridor Sheikh Zayed,Cairo</p>

    </ion-item>
    <ion-list-header>
      Phone Number
    </ion-list-header>
    <ion-item>
      <ion-icon name="call" item-start></ion-icon>
      Give us a call
      <a item-end href="tel:0223803331">

        <button class="settingBtn" ion-button small>Call</button>
      </a>
    </ion-item>
    <ion-list-header>
        Email
      </ion-list-header>
      <ion-item>
        <ion-icon name="call" item-start></ion-icon>
        Email us at <br>info@artcafe-egypt.com
        <a item-end href="mailto:info@artcafe-egypt.com">
  
          <button class="settingBtn" ion-button small>Send</button>
        </a>
      </ion-item>
    <ion-list-header>
      Social
    </ion-list-header>
    <ion-item>
      <a class="noDecor" ion-text color="darkCyan" href="https://www.facebook.com/ArtCafeegypt">
        <ion-icon name="logo-facebook" item-start></ion-icon>
        Facebook</a>
    </ion-item>
    <ion-item>
      <a class="noDecor" ion-text color="darkCyan" href="https://www.instagram.com/artcafeegypt/">
        <ion-icon name="logo-instagram" item-start></ion-icon>
        Instagram</a>
    </ion-item>
    <ion-item>
      <a class="noDecor" ion-text color="darkCyan" href="https://twitter.com/artcafeegypt">
        <ion-icon name="logo-twitter" item-start></ion-icon>
        Twitter</a>
    </ion-item>
  </ion-list>
</ion-content>