page-categories {
.catBg{
    background-position: center center;
    background-size: cover;
    height: 200px;
}
.catBgNone{
    background:url(../assets/imgs/noPhoto.jpg);
    background-position: center center;
    background-size: contain;
    height: 200px;
    background-repeat: no-repeat;
}
}
