<ion-header>

    <ion-navbar style="background: url('assets/imgs/blue.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/blue.png') !important;color:white !important;">Classes</ion-title>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="!items[0]">
        <ion-card-content>
            <p>No results found !</p>
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let cat of items" (click)="goPackages(cat.id)">
        <div *ngIf="cat.picture" class="catBg" [style.background-image]="'url(' + cat.picture + ')'"></div>
        <div *ngIf="!cat.picture" class="catBgNone"></div>
        <ion-card-content>
            <ion-card-title *ngIf="cat.title">{{cat.title}}</ion-card-title>
            <p *ngIf="cat.short_description">{{cat.short_description}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>