<!--
  Generated template for the SessionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/purple.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/purple.png') !important;color:white !important;">Club Sessions</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="wrapper">
        <div class="scrolls">
            <button ion-button *ngFor="let d of dates" color={{d.color}} class="date" (click)="pickDate(d)">{{d.day}}<br>{{d.date}}
            </button>
        </div>
    </div>
    <ion-list>
        <ion-item *ngFor="let sess of sessions" (click)="sessDet(sess)">
            <ion-thumbnail item-start>
                <img src="{{sess.img}}">
            </ion-thumbnail>
            <h2>{{sess.name}}</h2>
            <p>Next Session : 01/09/2017</p>
            <div tappable class="bookSection" item-end>Book</div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button block color="danger" (click)="goDrop()">Drop-ins</button>
    <button ion-button block outline color="danger" (click)="addEvent()">Create Event</button>
</ion-footer>