<!--
  Generated template for the ProgramdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/blue.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/blue.png') !important;color:white !important;">{{myProg.name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row text-center>
        <ion-col>
            <img src="{{myProg.img}}">
        </ion-col>
    </ion-row>
    <p class="myTitle">Small Description</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p><br>
    <p class="myTitle">Available Sessions</p>
    <ion-list radio-group>
        <ion-item>
            <ion-label>02/02/2017</ion-label>
            <ion-radio checked="true" value="go"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>02/05/2017</ion-label>
            <ion-radio value="rust"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>05/03/2017</ion-label>
            <ion-radio value="python"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col>
            <button style="background:#1380ad;" ion-button block (click)="goCheck(myProg)">Book Session</button>
        </ion-col>
        <ion-col>
            <button style="background:#1380ad;" ion-button block>Request Another</button>
        </ion-col>
    </ion-row>
</ion-footer>