<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/blue.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/blue.png') !important;color:white !important;">Checkout</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <p ion-text color="primary">Confrim your order</p>
    <ion-item>
        <!-- <ion-thumbnail item-start>
              <img src="{{myBooking.img}}">
          </ion-thumbnail> -->
        <h2>{{myBooking.title}}</h2>
        <p>{{myBooking.instructor}}</p>
        <p>{{myBooking.single_time_date}}</p>
        <p>{{myBooking.start_time}}-{{myBooking.end_time}}</p>
        <!--<button ion-button clear item-end>View</button>-->
    </ion-item>
    <ion-list>
        <!-- test -->
        <p ion-text color="primary">How would you like to pay ?</p>
        <!-- <ion-card class="ion-card">
            <ion-item *ngFor="let item of options; let i=index">
                <ion-label>{{item}}</ion-label>
                <ion-checkbox color="primary" item-right [ngModel]="checkedIdx == i" (ngModelChange)="$event ? checkedIdx = i : checkedIdx = -1" [disabled]="checkedIdx >= 0 && checkedIdx != i"></ion-checkbox>
            </ion-item>
        </ion-card> -->
        <!-- end -->
        <ion-item tappable (click)="newCard()">
            <ion-label>Pay Online</ion-label>
            <ion-icon color="primary" name="card" item-end></ion-icon>
        </ion-item>
    </ion-list>
    <ion-footer>
        <p padding text-center style="border-top:1px solid #1380ad;margin-bottom:0;margin-top:0;" tappable ion-text color="primary" (click)="book(myBooking)">Confirm Order</p>
    </ion-footer>
</ion-content>