<ion-header>

    <ion-navbar style="background: url('assets/imgs/blue.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/blue.png') !important;color:white !important;">Classes</ion-title>
    </ion-navbar>
    
</ion-header>


<ion-content>
    <div>
        <ion-segment color="primary" [(ngModel)]="choice">
            <ion-segment-button value="Cairo">
                Maadi Branch
            </ion-segment-button>
            <ion-segment-button value="Giza">
                Zayed Branch
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="choice">
        <ion-list class="classes" *ngSwitchCase="'Cairo'">
                <ion-searchbar [(ngModel)]="myInputCairo" [showCancelButton]="shouldShowCancel" (ionInput)="onInputCairo($event)" (ionCancel)="onCancel($event)">
                    </ion-searchbar>
            <ion-item *ngIf="!itemsCairo[0]" text-center>
                <ion-icon name="ios-information-circle-outline"></ion-icon>
                <p>No classes to show, click on calendar to show classes in Maadi branch</p>
            </ion-item>
            <div *ngFor="let class of itemsCairo">
                <ion-item>
                    <strong (click)="goDet(class)" ion-text color="primary">{{class.title}}</strong>
                    <p (click)="goDet(class)" ion-text color="primary">{{class.day_week}} {{class.start_time}} - {{class.end_time}}</p>
                    <p *ngIf="class.start_time_2" (click)="goDet(class)" ion-text color="primary">{{class.day_week_2}} {{class.start_time_2}} - {{class.end_time_2}}</p>
                    <p *ngIf="class.start_time_3" (click)="goDet(class)" ion-text color="primary">{{class.day_week_3}} {{class.start_time_3}} - {{class.end_time_3}}</p>

                    <p (click)="goDet(class)" ion-text color="dark">{{class.instructor}}</p>

                    <p (click)="goDet(class)" ion-text color="dark">{{class.number_of_sessions}} Sessions - {{class.price_to_book}} EGP</p>
                    <!-- <p (click)="goDet(class)">{{class.description}}</p> -->
                    <div tappable class="bookSection" (click)="goBook(class)" item-end>Book</div>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Giza'">
                <ion-searchbar [(ngModel)]="myInputGiza" [showCancelButton]="shouldShowCancel" (ionInput)="onInputGiza($event)" (ionCancel)="onCancel($event)">
                    </ion-searchbar>
            <ion-item *ngIf="!itemsGiza[0]" text-center>
                <ion-icon name="ios-information-circle-outline"></ion-icon>
                <p>No classes to show ,click on calendar to show classes in Zayed branch</p>
            </ion-item>
            <div *ngFor="let class of itemsGiza">
                <ion-item *ngIf="!itemsGiza[0]">
                    <p>There're no classes at that day try another one !</p>
                </ion-item>
                <ion-item>
                        <strong (click)="goDet(class)" ion-text color="primary">{{class.title}}</strong>
                        <p (click)="goDet(class)" ion-text color="primary">{{class.day_week}} {{class.start_time}} - {{class.end_time}}</p>
                        <p *ngIf="class.start_time_2" (click)="goDet(class)" ion-text color="primary">{{class.day_week_2}} {{class.start_time_2}} - {{class.end_time_2}}</p>
                        <p *ngIf="class.start_time_3" (click)="goDet(class)" ion-text color="primary">{{class.day_week_3}} {{class.start_time_3}} - {{class.end_time_3}}</p>
    
                        <p (click)="goDet(class)" ion-text color="dark">{{class.instructor}}</p>
    
                        <p (click)="goDet(class)" ion-text color="dark">{{class.number_of_sessions}} Sessions - {{class.price_to_book}} EGP</p>
                        <!-- <p (click)="goDet(class)">{{class.description}}</p> -->
                        <div tappable class="bookSection" (click)="goBook(class)" item-end>Book</div>
                    </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
