<!--
  Generated template for the BookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/purple.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/purple.png') !important;color:white !important;" *ngIf="myBooking">{{myBooking.title}} </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <p ion-text text-center color="light">Here's the information of the session you picked</p>
    <br> -->
    <strong ion-text color="danger">Description</strong>
    <p *ngIf="myBooking">{{myBooking.description}}</p>
    <strong ion-text color="danger">Time</strong>
    <p *ngIf="myBooking"><span ion-text color="danger">From </span>{{myBooking.start_time}} <span ion-text color="danger"> To </span> {{myBooking.end_time}}</p>
    <strong ion-text color="danger">Instructor</strong>
    <p *ngIf="myBooking">{{myBooking.instructor}}</p>
    <br>
    <button class="button-md button-md-danger" ion-button block (click)="check(myBooking)">Confirm & Book</button>
</ion-content>