<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background-image: url('assets/imgs/green.png') !important;color:white !important;">
        <ion-title style="background-image: url('assets/imgs/green.png') !important;color:white !important;">Sign up</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background-image: url('assets/imgs/bg_white.jpg') !important;" class="form-content">

    <div class="logo" text-center>
        <img src="assets/imgs/logo.png">
    </div>
    <form padding [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

        <div class="trans">
            <ion-item>
                <ion-label floating color="secondary">Username</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label floating color="secondary">Email</ion-label>
                <ion-input mask="emailMask" type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <!-- <ion-item>
            <ion-label floating color="primary">Gender</ion-label>
            <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
                <ion-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</ion-option>
            </ion-select>
        </ion-item> -->

            <ion-item>
                <ion-label floating color="secondary">City</ion-label>
                <ion-input type="text" formControlName="city"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.city">
                    <div class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label floating color="secondary">Phone Number</ion-label>
                <ion-input type="text" formControlName="phone" maxlength="11"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                    <div class="error-message" *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <div formGroupName="matching_passwords">
                <ion-item>
                    <ion-label floating color="secondary">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>

                <ion-item>
                    <ion-label floating color="secondary">Confirm Password</ion-label>
                    <ion-input type="password" formControlName="confirm_password"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.confirm_password">
                        <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                            {{ validation.message }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- These validations are for the form group -->
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                    <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <!-- <ion-item class="terms-item">
            <ion-label color="primary">I accept terms and conditions</ion-label>
            <ion-checkbox formControlName="terms"></ion-checkbox>
        </ion-item> -->
            <!-- <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.terms">
                <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div> -->
            <button ion-button color="secondary" full type="submit" [disabled]="!validations_form.valid">Submit</button>
        </div>
    </form>
</ion-content>