<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/yellow.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/yellow.png') !important;color:white !important;">Events</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let drop of dropins" (click)="catDet(drop)">
        <img src="{{drop.picture}}" />
        <ion-card-content>
            <ion-card-title text-center>
                {{drop.title}}
            </ion-card-title>
            <p ion-text color="light" [innerHTML]="drop.description">
            </p>
            <br>
        </ion-card-content>
    </ion-card>

</ion-content>