<!--
  Generated template for the SubcatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar style="background: url('assets/imgs/yellow.png') !important;color:white !important;">
        <ion-title style="background: url('assets/imgs/yellow.png') !important;color:white !important;">Sub Categories</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card *ngFor="let mySub of subCats" (click)="bookForm(mySub)">
        <ion-card-header color="dark">
            {{mySub.title}}
        </ion-card-header>
        <ion-card-content color="light" [innerHTML]="mySub.description">
        </ion-card-content>
    </ion-card>
</ion-content>